header{
    /* background-color: var(--cor02); */
    background-color: red;
    backdrop-filter: blur(10px);
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 5vh;
}

nav{
    display: flex;
    justify-content: flex-end;
    margin: 5px 20px;
    background-color: yellow;
    align-items: center;
    column-gap: 15px;
}
