@keyframes aumentar{
    0%{
        height: 150px;
        width: 150px;
    }
    100%{
        height: 170px;
        width: 170px;       
    }
}

@keyframes esquerda{
    0%{
        left: 24px;
    }
    100%{
        left: 4px;
    }
}

@keyframes direita{
    0%{
        left: 4px;
    }
    100%{
        left: 24px;
    }
}
