@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root{
    --claro-destaque:#3CAAFA;
    --claro-destaque2: #19415e;
    --claro-contraste: #ccc;
    --claro-fundo:white;

    --escuro-destaque:#3CAAFA;
    --escuro-destaque2: #19415e;
    --escuro-contraste: #ccc;
    --escuro-fundo:white;

    --fonte: 'Open Sans', sans-serif;
    --fonte_player: 'Press Start 2P', cursive;
}

*{
    padding: 0px;
    margin: 0px;
}

li{
    list-style-type: none;
}