@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root{
    --cor01:#9A3CFA;
    --cor02:#5A35DE;
    --cor03:#4751F5;
    --cor04:#356ADE;
    --cor05:#3CAAFA;

    --fonte: 'Open Sans', sans-serif;
    --fonte_player: 'Press Start 2P', cursive;
}

*{
    padding: 0px;
    margin: 0px;
}

li{
    list-style-type: none;
}