header{
    background-color: rgba(204, 204, 204, 0.7);
    backdrop-filter: blur(2px);
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    border-bottom: 2px solid black;
}

nav{
    margin: 5px 20px;
    padding: 2px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 15px;
}

.bt{
    padding: 3px;
    border: none;
    border-radius: 3px;
    background-color: var(--claro-destaque);
    color: black;
    cursor: pointer;
}

.bt:hover{
    box-shadow: 1px 1px 5px var(--claro-destaque2);
}

#troca-tema{
    position: relative;
    background-color: var(--claro-destaque);
    width: 44px;
    height: 24px;
    border-radius: 30px;
}
#troca-tema:hover{
    box-shadow: 1px 0px 4px var(--claro-destaque2);
}
#troca-tema > input{
    cursor: pointer;
    opacity: 0;
    width: 40px;
    height: 20px;
}

#ball{
    display: flex;
    position: absolute;
    top: 4px;
    left: 4px;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background-color: var(--claro-fundo);
}
#ball img{
    margin: auto;
    width: 12px;
    height: 12px;
}