body{
    font-family: var(--fonte);
    font-weight: 400;
    background-color: var(--claro-fundo);
}

main{
    margin-top: 7vh;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 68vh;
    padding: 2vh;
}

h1{
    text-align: center;
    border-bottom: 1px solid black;
    height: 10%;
    width: 300px;
    font-size: 2em;
}

p{
    text-align: center;
}

.conteudo{
    margin: auto;
    width: 95%;
    height: 80%;
    display: flex
}

#sobre, #projetos{
    background-color: var(--claro-contraste);
}

#introducao{
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
#introducao img{
    width: 25vw;
    height: 25vw;
    border: 3px solid black;
    border-radius: 50%;
    background-color: white;
    box-shadow: 1px 1px 20px var(--claro-contraste);
}
#introducao p{
    font-size: 1.7em;
    width: 50vw;
    font-family: var(--fonte_player);
}

#sobre > .conteudo{
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#sobre > .conteudo > p{
    width: 50%;
    font-size: 1.5em;
}

#estudo > .conteudo > #description{
    width: 30vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
#estudo > .conteudo > #description > p{
    font-size: 1.5em;
    width: 70%;
}
#estudo > .conteudo > #tecnologias{
    width: 70vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.tecnologia{
    height: 150px;
    width: 150px;
    padding: 2px;
}
.tecnologia img{
    height: 150px;
    width: 150px;
}

#projetos{
    height: 136vh;
}
#projetos h1{
    height: 6%;
}
#projetos > .conteudo{
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
#projetos > p{
    margin-bottom: 10px;
    font-size: 1.2em;
}
.flex{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.projeto{
    /* background-image: linear-gradient(to right, var(--claro-destaque), var(--claro-destaque2)); */
    background-color: var(--claro-destaque);
    height: 22%;
    width: 95%
}
.projeto:hover{
    /* background-color: var(--claro-destaque); */
    box-shadow: 1px 1px 8px var(--claro-destaque2);
}
.img-projeto{
    width: 140px;
    height: 140px;
}
.descreve-projeto{
    display: flex;
    text-align: center;
    flex-direction: column;
    width: 60%;
    font-size: 1.3em;
}
.clique-p-ver{
    font-size: 0.7em;
    font-weight: 600;
}