@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

:root{
    --cor01:#9A3CFA;
    --cor02:#5A35DE;
    --cor03:#4751F5;
    --cor04:#356ADE;
    --cor05:#3CAAFA;

    --fonte: 'Open Sans', sans-serif;
}

*{
    padding: 0px;
    margin: 0px;
}

body{
    font-family: var(--fonte);
    font-weight: 400;
    background-color: var(--cor02);
}

main{
    margin-top: 7vh;
}

section{
    display: flex;
    height: 68vh;
}

h1{
    text-align: center;
}

#sobre, #projetos{
    background-color: var(--cor04);
}

#introducao{
    justify-content: space-around;
    align-items: center;
}
#introducao img{
    width: 25vw;
    height: 25vw;
    border: 3px solid black;
    padding: 1px;
    border-radius: 50%;
    background-color: white;
}
#introducao p{
    width: 50%;
}

#sobre{
    flex-direction: column;
    justify-content: center;
    padding: 2vh;
}
#sobre h1{
    position: absolute;
    left: 50%;
    bottom: 15%;
    transform: translate(-50%, 0);
}
#sobre p{
    text-align: center;
}

#estudo{
    flex-direction: column;
}