p{
    font-weight: 600;
    margin-left: -20px;
    margin-bottom: 10px;
}

section{
    width: 350px;
    margin: auto;
    padding: 10px;
}

#sexo{
    margin-left: 30px;
}

#sexo > label{
    display: inline;
}

.radio-button{
    display: inline-block;
    width: 15px;
    height: 15px;
}

button{
    margin-top: 12px;
}