:root{
    --cor1: #0094C6;
    --cor2: #005E7C;
    --cor3: #001242;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ccc;
    color: var(--cor3);
    background-color: var(--cor1);
}

main{
    padding: 15px;
    margin: 15vh auto;
    width: 400px;
    height: 430px;
    background-color: white;
}

img{
    display: block;
    margin: 10px auto;
}

h1{
    margin-top: 15px;
    margin: auto;
    width: 300px;
    text-align: center;
}

div{
    margin: 10px;
}

label{
    display: block;
    font-weight: 600;
    margin: 10px 0px;
}

input{
    display: block;
    margin: auto;
    width: 100%;
    height: 20px;
    border: none;
    padding: 3px;
    outline: 0;
    background-color: rgba(187, 184, 184, 0.829);
}



a{
    color: var(--cor3);
    font-weight: 600;
    text-decoration: none;
}

a:hover{
  text-decoration: underline;  
}


button{
    display: block;
    margin: auto;
    width: 80%;
    height: 30px;
    border-radius: 10px;
    border: none;
    background-color: var(--cor2);
    color: var(--cor3);
    cursor: pointer;
    transition: 1s;
}

button:hover{
    background-color: var(--cor1);
}

button > p{
    font-weight: 600;
}
